@charset "UTF-8";

*, html {
	margin: 0;
}

.container {
	margin: 0 auto;
}

body {
	background-color: white;
	
	<!–– #2ec4b6 ––>
}

.logo {
	content: url(images/logo.gif);
	height: 70px;
	float: right;
	margin-right: 45%
}

.menuimage {
	content: url(images/menu.gif);
	margin: 0 auto;
	height: 40px;
	float: left;
}
    
.headertop {
	width: 100%;
	height: 70px;
	background-color: #c90b37;
}

.headershow {
	width: 100%;
	height: 70px;
	background-color: #0f4d92;
	display: none;
	text-align:center;
	line-height: 70px;
	vertical-align:middle;
}

.dropbtn {
    background-color: #c90b37;
    padding: 16px;
    font-size: 16px;
    border: none;
	outline: none;
	height: 70px;
}


.show {
	display:block;
}

.links {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align:middle;
	text-decoration:none;
	color: #ffffff;
	font-weight: bold;
}

.ptag {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align:middle;
	line-height: 1.6;
	color: black;
}

.header-links {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align:middle;
	text-decoration:none;
	color: white;
	font-weight: bold;
}

.bodydiv {
	width: 80%;
	height: 595px;
	background-color: white;	
	margin: 0 auto;
	margin-top: 20px;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

.space {
	padding :20px;	
	width: 30%;
	display: inline-block;
	padding-left:40px;
}

.space-allothers {
	padding :20px;	
	width: 50%;
	display: inline-block;
	padding-left:40px;
}

.space-left {
	padding :20px;	
	width: 50%;
	float: right;
	display: inline-block;
	
}

.space-left-allothers {
	padding :20px;	
	width: 30%;
	float: right;
	display: inline-block;
	
}

.bodycontainer {
	width: 100%;
	height: 100%;	
}

.image-container {
	padding 20px;
	background-color: #FF3366;	
	display: inline-block;
	align-content:center;
	float: right;
}

.imagesize {
	height: 200px;
	display: inline-block;
	align-content:center;
	float: right;
	margin: 20px;
}

.imagesizefront {
	height: 300px;
	display: inline-block;
	align-content:center;
	float: right;
	margin: 20px;
}

.text {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

a {
	text-decoration: underline; 	
}

a:visited {
	text-decoration: none; 	
}

.footer {
	width: 100%;
	height: 70px;
	background-color: #7d7d7d;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;	
}

.text-footer {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: white;
	vertical-align:middle;
	padding: 26px;
}

.featuresize {
	height: 500px;
	float: right;
}

.space-product {
	padding :20px;	
	width: 50%;
	display: inline-block;
	padding-left:40px;
}

.space-product-left {
	padding :20px;	
	width: 30%;
	float: right;
	display: inline-block;
	
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

.buybutton {
	outline: none;
	height: 35px;
	width: 100px;	
	margin: 0 auto;
}